--
-- PostgreSQL database dump
--

\restrict echocn6hXjtPhiyCHmm5cFtmCdqsB8bKWVhrKZswKDpxs1ZoQEr1cNF11dn8mO2

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg12+2)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: estado_obra; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.estado_obra AS ENUM (
    'En Proceso',
    'Verificado',
    'Enviado a Pago',
    'Concluido'
);


--
-- Name: estado_obra_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.estado_obra_enum AS ENUM (
    'En Proceso',
    'Verificado',
    'Enviado a Pago',
    'Concluido'
);


--
-- Name: estado_pago; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.estado_pago AS ENUM (
    'Sin Pagar',
    'Pagado'
);


--
-- Name: estado_pago_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.estado_pago_enum AS ENUM (
    'Sin Pagar',
    'Pagado'
);


--
-- Name: estado_verificacion; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.estado_verificacion AS ENUM (
    'No',
    'Si'
);


--
-- Name: estado_verificacion_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.estado_verificacion_enum AS ENUM (
    'No',
    'Si'
);


--
-- Name: si_no_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.si_no_enum AS ENUM (
    'No',
    'Si'
);


--
-- Name: tipo_propietario; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.tipo_propietario AS ENUM (
    'Fisica',
    'Moral'
);


--
-- Name: tipo_propietario_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.tipo_propietario_enum AS ENUM (
    'Fisica',
    'Moral',
    ''
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: area; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.area (
    id_area integer NOT NULL,
    nombre character varying(100) NOT NULL
);


--
-- Name: area_id_area_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.area_id_area_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: area_id_area_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.area_id_area_seq OWNED BY public.area.id_area;


--
-- Name: cargo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cargo (
    idcargo integer NOT NULL,
    nombre character varying(100) NOT NULL
);


--
-- Name: cargo_idcargo_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cargo_idcargo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cargo_idcargo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cargo_idcargo_seq OWNED BY public.cargo.idcargo;


--
-- Name: colonias; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.colonias (
    id_colonia integer NOT NULL,
    nombre character varying(150) NOT NULL,
    densidad character varying(100)
);


--
-- Name: colonias_id_colonia_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.colonias_id_colonia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: colonias_id_colonia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.colonias_id_colonia_seq OWNED BY public.colonias.id_colonia;


--
-- Name: conceptos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.conceptos (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    observaciones text,
    medicion character varying(100),
    costo numeric(12,2),
    porcentaje numeric(5,2),
    estado boolean DEFAULT true,
    parent_id integer,
    nivel integer NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    cuenta_tesoreria character varying(50)
);


--
-- Name: conceptos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.conceptos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: conceptos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.conceptos_id_seq OWNED BY public.conceptos.id;


--
-- Name: directores_obra; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.directores_obra (
    id_director_obra integer NOT NULL,
    clave_director character varying(10),
    nombre_completo character varying(50) NOT NULL,
    domicilio character varying(40) NOT NULL,
    colonia character varying(40) NOT NULL,
    municipio character varying(40) NOT NULL,
    codigo_postal character varying(6),
    telefono character varying(30),
    rfc character varying(13) NOT NULL,
    cedula_federal character varying(10),
    cedula_estatal character varying(10),
    oficio_autorizacion_ro character varying(20),
    oficio_autorizacion_rp character varying(20),
    oficio_autorizacion_pu character varying(20),
    ro_edificacion boolean DEFAULT false,
    ro_restauracion boolean DEFAULT false,
    ro_urbanizacion boolean DEFAULT false,
    ro_infraestructura boolean DEFAULT false,
    rp_edificacion boolean DEFAULT false,
    rp_restauracion boolean DEFAULT false,
    rp_urbanizacion boolean DEFAULT false,
    rp_infraestructura boolean DEFAULT false,
    fecha_registro timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp without time zone,
    fecha_baja timestamp without time zone,
    activo boolean DEFAULT true,
    imagen character varying(200)
);


--
-- Name: directores_obra_id_director_obra_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.directores_obra_id_director_obra_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: directores_obra_id_director_obra_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.directores_obra_id_director_obra_seq OWNED BY public.directores_obra.id_director_obra;


--
-- Name: funciones_usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.funciones_usuarios (
    id_funcion integer NOT NULL,
    nombre character varying(100) NOT NULL
);


--
-- Name: funciones_usuarios_id_funcion_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.funciones_usuarios_id_funcion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: funciones_usuarios_id_funcion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.funciones_usuarios_id_funcion_seq OWNED BY public.funciones_usuarios.id_funcion;


--
-- Name: obra_conceptos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.obra_conceptos (
    id integer NOT NULL,
    "IdObra" integer NOT NULL,
    id_concepto integer NOT NULL,
    cantidad numeric(15,2) NOT NULL,
    costo numeric(15,2) NOT NULL,
    total numeric(15,2) NOT NULL,
    medicion character varying(100),
    observaciones text,
    fecha_creacion timestamp without time zone DEFAULT now(),
    id_usuario_creacion integer NOT NULL,
    fecha_modificacion timestamp without time zone,
    id_usuario_modificacion integer,
    estado integer DEFAULT 1
);


--
-- Name: obra_conceptos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.obra_conceptos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: obra_conceptos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.obra_conceptos_id_seq OWNED BY public.obra_conceptos.id;


--
-- Name: op_numerosoficiales; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.op_numerosoficiales (
    idnumerosoficialesobra integer NOT NULL,
    idobra integer CONSTRAINT "op_numerosoficiales_IdObra_not_null" NOT NULL,
    numerooficial character varying(50) NOT NULL,
    fechacreacionno timestamp without time zone NOT NULL,
    idusuariono integer,
    calle text
);


--
-- Name: op_numerosoficiales_idnumerosoficialesobra_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.op_numerosoficiales ALTER COLUMN idnumerosoficialesobra ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.op_numerosoficiales_idnumerosoficialesobra_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: op_obras; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.op_obras (
    idobra integer CONSTRAINT "op_obras_IdObra_not_null" NOT NULL,
    idobrasuperior character varying(25) DEFAULT ''::character varying CONSTRAINT "op_obras_IdObraSuperior_not_null" NOT NULL,
    consecutivo character varying(25) DEFAULT ''::character varying CONSTRAINT "op_obras_Consecutivo_not_null" NOT NULL,
    fechacaptura timestamp without time zone DEFAULT CURRENT_TIMESTAMP CONSTRAINT "op_obras_FechaCaptura_not_null" NOT NULL,
    tipopropietario public.tipo_propietario_enum DEFAULT 'Fisica'::public.tipo_propietario_enum,
    nombrepropietario character varying(200) DEFAULT ''::character varying CONSTRAINT "op_obras_NombrePropietario_not_null" NOT NULL,
    representantelegal character varying(200) DEFAULT NULL::character varying,
    domiciliopropietario character varying(200) DEFAULT NULL::character varying,
    coloniapropietario character varying(250) DEFAULT NULL::character varying,
    municipiopropietario character varying(200) DEFAULT NULL::character varying,
    entidadpropietario character varying(200) DEFAULT NULL::character varying,
    telefonopropietario character varying(50) DEFAULT NULL::character varying,
    rfcpropietario character varying(25) DEFAULT NULL::character varying,
    codigopostalpropietario character varying(10) DEFAULT NULL::character varying,
    correoelectronicopropietario character varying(200) DEFAULT NULL::character varying,
    sitiowebpropietario character varying(200) DEFAULT NULL::character varying,
    ocupacionpropietario character varying(200) DEFAULT NULL::character varying,
    identificacion character varying(200) DEFAULT NULL::character varying,
    tipoidentificacion character varying(200) DEFAULT NULL::character varying,
    documentoacreditapropiedad character varying(200) DEFAULT NULL::character varying,
    tipodocumentoacreditapropiedad character varying(200) DEFAULT NULL::character varying,
    documentosrequeridos character varying(200) DEFAULT NULL::character varying,
    idcoloniaobra integer CONSTRAINT "op_obras_IdColoniaObra_not_null" NOT NULL,
    manzanaobra character varying(25) DEFAULT NULL::character varying,
    loteobra character varying(25) DEFAULT NULL::character varying,
    etapaobra character varying(25) DEFAULT NULL::character varying,
    condominioobra character varying(25) DEFAULT NULL::character varying,
    numerospredioscontiguosobra character varying(40) DEFAULT NULL::character varying,
    entrecalle1obra character varying(200) DEFAULT NULL::character varying,
    entrecalle2obra character varying(200) DEFAULT NULL::character varying,
    destinoactualproyeto character varying(200) DEFAULT NULL::character varying,
    destinopropuestoproyecto character varying(200) DEFAULT NULL::character varying,
    aguapotable character varying(2) DEFAULT 'Si'::character varying CONSTRAINT "op_obras_AguaPotable_not_null" NOT NULL,
    drenaje character varying(2) DEFAULT 'Si'::character varying CONSTRAINT "op_obras_Drenaje_not_null" NOT NULL,
    electricidad character varying(2) DEFAULT 'Si'::character varying CONSTRAINT "op_obras_Electricidad_not_null" NOT NULL,
    alumbradopublico character varying(2) DEFAULT 'Si'::character varying CONSTRAINT "op_obras_AlumbradoPublico_not_null" NOT NULL,
    machuelos character varying(2) DEFAULT 'Si'::character varying CONSTRAINT "op_obras_Machuelos_not_null" NOT NULL,
    banquetas character varying(2) DEFAULT 'Si'::character varying CONSTRAINT "op_obras_Banquetas_not_null" NOT NULL,
    pavimento character varying(50) DEFAULT 'Si'::character varying CONSTRAINT "op_obras_Pavimento_not_null" NOT NULL,
    servidumbrefrontal character varying(20) DEFAULT NULL::character varying,
    servidumbrelateral character varying(20) DEFAULT NULL::character varying,
    servidumbreposterior character varying(20) DEFAULT NULL::character varying,
    coeficienteocupacion character varying(20) DEFAULT NULL::character varying,
    coeficienteutilizacion character varying(20) DEFAULT NULL::character varying,
    descripcionproyecto text,
    notas text,
    vigencia character varying(20) DEFAULT ''::character varying CONSTRAINT "op_obras_Vigencia_not_null" NOT NULL,
    estadoverificacion public.estado_verificacion_enum DEFAULT 'No'::public.estado_verificacion_enum CONSTRAINT "op_obras_EstadoVerificacion_not_null" NOT NULL,
    fechaverificacion timestamp without time zone,
    verificacion text,
    idperito integer,
    directorobra character varying(150) DEFAULT NULL::character varying,
    bitacora character varying(20) DEFAULT NULL::character varying,
    idusuariocapturador integer CONSTRAINT "op_obras_IdUsuarioCapturador_not_null" NOT NULL,
    idusuarioautorizador integer CONSTRAINT "op_obras_IdUsuarioAutorizador_not_null" NOT NULL,
    ultimoacceso timestamp without time zone,
    ultimamodificacion timestamp without time zone,
    revisor character varying(200) DEFAULT ''::character varying CONSTRAINT "op_obras_Revisor_not_null" NOT NULL,
    cuantificador character varying(200) DEFAULT ''::character varying CONSTRAINT "op_obras_Cuantificador_not_null" NOT NULL,
    totalcostoconceptos numeric(15,2) DEFAULT NULL::numeric,
    fechapago timestamp without time zone,
    fecharealizado date,
    recibodepago character varying(200) DEFAULT NULL::character varying,
    otrosrecibos character varying(200) DEFAULT NULL::character varying,
    foliodelaforma character varying(200) DEFAULT NULL::character varying,
    fechavencepago timestamp without time zone,
    estadoobra character varying(20) DEFAULT 'En Proceso'::public.estado_obra_enum CONSTRAINT "op_obras_EstadoObra_not_null" NOT NULL,
    fechaaprobacion timestamp without time zone,
    estadopago character varying(20) DEFAULT 'Sin Pagar'::public.estado_pago_enum CONSTRAINT "op_obras_EstadoPago_not_null" NOT NULL,
    informacionadicional text
);


--
-- Name: TABLE op_obras; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.op_obras IS 'Obras p├║blicas - migrado desde MySQL';


--
-- Name: op_obras_IdObra_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."op_obras_IdObra_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: op_obras_IdObra_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."op_obras_IdObra_seq" OWNED BY public.op_obras.idobra;


--
-- Name: propietarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.propietarios (
    id_propietario integer NOT NULL,
    nombre character varying(150) NOT NULL,
    tipo_propietario character varying(20) NOT NULL,
    representante_legal character varying(150),
    identificacion character varying(30) NOT NULL,
    domicilio character varying(200),
    colonia character varying(100),
    municipio character varying(100),
    entidad_federativa character varying(100),
    telefono character varying(20),
    rfc character varying(20),
    codigo_postal character varying(10),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT propietarios_identificacion_check CHECK (((identificacion)::text = ANY ((ARRAY['IFE'::character varying, 'PASAPORTE'::character varying, 'CARTILLA_MILITAR'::character varying, 'LICENCIA'::character varying, 'CEDULA'::character varying])::text[]))),
    CONSTRAINT propietarios_tipo_propietario_check CHECK (((tipo_propietario)::text = ANY ((ARRAY['PERSONA_FISICA'::character varying, 'PERSONA_MORAL'::character varying])::text[])))
);


--
-- Name: propietarios_id_propietario_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.propietarios_id_propietario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: propietarios_id_propietario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.propietarios_id_propietario_seq OWNED BY public.propietarios.id_propietario;


--
-- Name: tramites; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tramites (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    letra character varying(10) NOT NULL,
    estado boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: tramites_conceptos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tramites_conceptos (
    id integer NOT NULL,
    tramite_id integer NOT NULL,
    concepto_id integer NOT NULL,
    estado boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: tramites_conceptos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tramites_conceptos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tramites_conceptos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tramites_conceptos_id_seq OWNED BY public.tramites_conceptos.id;


--
-- Name: tramites_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tramites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tramites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tramites_id_seq OWNED BY public.tramites.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id_usuarios integer NOT NULL,
    cargo_idcargo integer,
    area_id_area integer,
    nombre character varying(100) NOT NULL,
    ap_paterno character varying(100) NOT NULL,
    ap_materno character varying(100),
    telefono bigint,
    clave integer,
    rol character varying(50),
    estado character varying(50),
    funcion character varying(100),
    fecha_creacion timestamp without time zone DEFAULT now(),
    id_funcion integer,
    usuario character varying(50) NOT NULL
);


--
-- Name: usuarios_id_usuarios_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_usuarios_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_usuarios_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_usuarios_seq OWNED BY public.usuarios.id_usuarios;


--
-- Name: area id_area; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.area ALTER COLUMN id_area SET DEFAULT nextval('public.area_id_area_seq'::regclass);


--
-- Name: cargo idcargo; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cargo ALTER COLUMN idcargo SET DEFAULT nextval('public.cargo_idcargo_seq'::regclass);


--
-- Name: colonias id_colonia; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.colonias ALTER COLUMN id_colonia SET DEFAULT nextval('public.colonias_id_colonia_seq'::regclass);


--
-- Name: conceptos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conceptos ALTER COLUMN id SET DEFAULT nextval('public.conceptos_id_seq'::regclass);


--
-- Name: directores_obra id_director_obra; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.directores_obra ALTER COLUMN id_director_obra SET DEFAULT nextval('public.directores_obra_id_director_obra_seq'::regclass);


--
-- Name: funciones_usuarios id_funcion; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.funciones_usuarios ALTER COLUMN id_funcion SET DEFAULT nextval('public.funciones_usuarios_id_funcion_seq'::regclass);


--
-- Name: obra_conceptos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.obra_conceptos ALTER COLUMN id SET DEFAULT nextval('public.obra_conceptos_id_seq'::regclass);


--
-- Name: op_obras idobra; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.op_obras ALTER COLUMN idobra SET DEFAULT nextval('public."op_obras_IdObra_seq"'::regclass);


--
-- Name: propietarios id_propietario; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.propietarios ALTER COLUMN id_propietario SET DEFAULT nextval('public.propietarios_id_propietario_seq'::regclass);


--
-- Name: tramites id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tramites ALTER COLUMN id SET DEFAULT nextval('public.tramites_id_seq'::regclass);


--
-- Name: tramites_conceptos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tramites_conceptos ALTER COLUMN id SET DEFAULT nextval('public.tramites_conceptos_id_seq'::regclass);


--
-- Name: usuarios id_usuarios; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuarios SET DEFAULT nextval('public.usuarios_id_usuarios_seq'::regclass);


--
-- Name: area area_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.area
    ADD CONSTRAINT area_pkey PRIMARY KEY (id_area);


--
-- Name: cargo cargo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cargo
    ADD CONSTRAINT cargo_pkey PRIMARY KEY (idcargo);


--
-- Name: colonias colonias_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.colonias
    ADD CONSTRAINT colonias_pkey PRIMARY KEY (id_colonia);


--
-- Name: conceptos conceptos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conceptos
    ADD CONSTRAINT conceptos_pkey PRIMARY KEY (id);


--
-- Name: directores_obra directores_obra_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.directores_obra
    ADD CONSTRAINT directores_obra_pkey PRIMARY KEY (id_director_obra);


--
-- Name: funciones_usuarios funciones_usuarios_nombre_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.funciones_usuarios
    ADD CONSTRAINT funciones_usuarios_nombre_key UNIQUE (nombre);


--
-- Name: funciones_usuarios funciones_usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.funciones_usuarios
    ADD CONSTRAINT funciones_usuarios_pkey PRIMARY KEY (id_funcion);


--
-- Name: obra_conceptos obra_conceptos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.obra_conceptos
    ADD CONSTRAINT obra_conceptos_pkey PRIMARY KEY (id);


--
-- Name: op_numerosoficiales op_numerosoficiales_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.op_numerosoficiales
    ADD CONSTRAINT op_numerosoficiales_pkey PRIMARY KEY (idnumerosoficialesobra);


--
-- Name: op_obras op_obras_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.op_obras
    ADD CONSTRAINT op_obras_pkey PRIMARY KEY (idobra);


--
-- Name: propietarios propietarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.propietarios
    ADD CONSTRAINT propietarios_pkey PRIMARY KEY (id_propietario);


--
-- Name: tramites_conceptos tramites_conceptos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tramites_conceptos
    ADD CONSTRAINT tramites_conceptos_pkey PRIMARY KEY (id);


--
-- Name: tramites_conceptos tramites_conceptos_tramite_id_concepto_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tramites_conceptos
    ADD CONSTRAINT tramites_conceptos_tramite_id_concepto_id_key UNIQUE (tramite_id, concepto_id);


--
-- Name: tramites tramites_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tramites
    ADD CONSTRAINT tramites_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuarios);


--
-- Name: usuarios usuarios_usuario_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_usuario_key UNIQUE (usuario);


--
-- Name: usuarios fk_area; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT fk_area FOREIGN KEY (area_id_area) REFERENCES public.area(id_area);


--
-- Name: usuarios fk_cargo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT fk_cargo FOREIGN KEY (cargo_idcargo) REFERENCES public.cargo(idcargo);


--
-- Name: obra_conceptos fk_concepto; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.obra_conceptos
    ADD CONSTRAINT fk_concepto FOREIGN KEY (id_concepto) REFERENCES public.conceptos(id);


--
-- Name: tramites_conceptos fk_concepto; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tramites_conceptos
    ADD CONSTRAINT fk_concepto FOREIGN KEY (concepto_id) REFERENCES public.conceptos(id) ON DELETE RESTRICT;


--
-- Name: usuarios fk_funcion_usuario; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT fk_funcion_usuario FOREIGN KEY (id_funcion) REFERENCES public.funciones_usuarios(id_funcion);


--
-- Name: obra_conceptos fk_obra; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.obra_conceptos
    ADD CONSTRAINT fk_obra FOREIGN KEY ("IdObra") REFERENCES public.op_obras(idobra) ON DELETE CASCADE;


--
-- Name: op_numerosoficiales fk_op_numerosoficiales_op_obras; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.op_numerosoficiales
    ADD CONSTRAINT fk_op_numerosoficiales_op_obras FOREIGN KEY (idobra) REFERENCES public.op_obras(idobra);


--
-- Name: op_obras fk_op_obras_colonias; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.op_obras
    ADD CONSTRAINT fk_op_obras_colonias FOREIGN KEY (idcoloniaobra) REFERENCES public.colonias(id_colonia);


--
-- Name: conceptos fk_parent; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conceptos
    ADD CONSTRAINT fk_parent FOREIGN KEY (parent_id) REFERENCES public.conceptos(id) ON DELETE CASCADE;


--
-- Name: tramites_conceptos fk_tramite; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tramites_conceptos
    ADD CONSTRAINT fk_tramite FOREIGN KEY (tramite_id) REFERENCES public.tramites(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict echocn6hXjtPhiyCHmm5cFtmCdqsB8bKWVhrKZswKDpxs1ZoQEr1cNF11dn8mO2

